@mixin flex-jcc-aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
    color: $links-primary-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-primary-col;
}

h1 {
    font-size: $h1-size;
}

.fas {
    color: $links-primary-col;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
}