@mixin flex($dir: 'row', $jc: 'flex-start', $ai: 'center', $wrap: 'nowrap') {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @if $dir == 'column' {
        flex-direction: column;
    } 
    @if $dir == 'end' {
        flex-direction: flex-end;
    } 
    @if $jc == 'center' {
        justify-content: center;
    }
    @if $jc == 'space-between' {
        justify-content: space-between;
    }
    @if $jc == 'space-around' {
        justify-content: space-around;
    }
    @if $ai == 'space-between' {
        justify-content: space-between;
    }
    @if $ai == 'space-around' {
        justify-content: space-around;
    }
    @if $wrap == 'wrap' {
        flex-wrap: wrap;
    }
}

@mixin padding-side($size: 25px) {
    padding-left: $size;
    padding-right: $size;
}

// Generals

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

// Typography
a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
    color: $links-primary-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-primary-col;
}

h1 {
    font-size: $h1-size;    
}

.fas {
    color: $links-primary-col;
}

// Layout

.container {
    margin: 0 auto;
    max-width: 100%;
}

// Layout Responsive

@media screen and (min-width: 768px) {
    .container {
        width: 95%;
    } 
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1150px;
    } 
}