.jumbotron {
    @include flex($jc: center, $wrap: wrap);
    @include padding-side;
    margin-bottom: 160px;
    text-align: center;
    
    &__title {
        padding-top: 115px;
        padding-left: 15px;
        margin-bottom: 40px;
    }

    &__subtext {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 40px;
    }

    &__cta {
        @include flex($jc: center);
        margin-bottom: 25px;

        & > span {
            @include padding-side(15px);
            color: #bdb5af;
        }
    }

    &__last {
        margin-bottom: 25px;
    }

    img {
        max-width: 100%;
    }
}

@include tablet {
    .jumbotron {
        @include padding-side(0);
    }
}

@include desktop {
    .jumbotron {
        @include flex($jc: flex-start);
        text-align: left;

        &__title {
            padding-left: 0px;
        }

        &__cta {
            @include flex($jc: flex-start);
        }
    }
}