.navbar {
    @include flex($jc: space-between);
    @include padding-side(25px);
    height: $nav-height-mobile;
    border-bottom: 1px solid rgba(0,0,0,.3);
    font-size: 15px;
    font-weight: bold;

    .logo {
        padding-top: 5px;
    }

    .menu {
        &__hamburger {
            margin-right: 5px;
            font-size: 22px;
            cursor: pointer;
        }
        &__mobile {
            display: none;
        }
        &__desktop {
            display: none;
        }
    }
}

@include tablet {
    .navbar {
        height: $nav-height-break-768;
        padding-left: 0;
        padding-right: 0;
        .menu {
            &__hamburger {
                display: none;
            }
            &__mobile {
                display: none;
            }
            &__desktop {
                display: block;
            }
            &__items {
                @include flex();
                & > li:not(:last-child) {
                    margin-right: 40px;
                }
            }
            &__items--dropdown {
                span {
                    margin-right: 4px;
                }
                i {
                    font-size: 14px;
                }
            }
            &__items--submenu {
                display: none;
            }
        }
    }
}