.navbar {
    @include flex($jc: 'space-between');
    height: $nav-height-mobile;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    .menu {
        &__hamburger {
            margin-right: 5px;
            font-size: 22px;
        }
        &__mobile {
            display: none;
        }
        &__desktop {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        height: $nav-height-desktop;
        padding-left: 0;
        padding-right: 0;
        .menu {
            &__hamburger {
                display: none;
            }
            &__mobile {
                display: none;
            }
            &__desktop {
                display: block;
            }
            &__items {
                @include flex();
                & > li:not(:last-child) {
                    margin-right: 40px;
                }
            }
            &__items--dropdown {
                
            }
            &__items--submenu {
                display: none;
            }
        }
    }
}