// Text Colors
$text-primary-col: #58402c;
$heading-primary-col: #58402c;
$links-primary-col: #58402c;
$links-secondary-col: #58402c;
$btn-secondary-Col: #ffffff;

// font sizing
$size-base: 18px;
$h1-size: 50px;

// Measures
$nav-height-mobile: 55px;
$nav-height-desktop: 75px;